TemplateHelperLoader:
  factory: Neuron\ServiceFactories::createHelperLoader

ThumbnailRepository:
  class: Neuron\IO\FileRepository
  arguments: [$thumbnailsDir]

ThumbnailHelper:
  class: Neuron\Helper\Thumbnail
  arguments: [%ThumbnailRepository]

Texy:
  class: Neuron\Texy\Texy

SafeTexy:
  class: Neuron\Texy\SafeTexy

# model

Nette\Security\IAuthorizator:
  factory: Neuron\ServiceFactories::createAuthorizator

Doctrine\ORM\EntityManager:
  factory: Neuron\ServiceFactories::createEntityManager
  arguments: [$$database]

Validator:
  factory: Neuron\ServiceFactories::createValidator

Nette\Security\IAuthenticator:
  class: Neuron\Model\DefaultAuthenticator
  arguments: [%UserService]

UserService:
  class: Neuron\Model\User\Service
  arguments: [%Doctrine\ORM\EntityManager]

PhotogalleryService:
  class: Neuron\Model\Photo\GalleryService
  arguments: [%Doctrine\ORM\EntityManager]

PhotoService:
  class: Neuron\Model\Photo\PhotoService
  arguments: [%Doctrine\ORM\EntityManager, %PhotoRepository]

PhotoRepository:
  class: Neuron\IO\FileRepository
  arguments: [$photosDir, jpg]

PageService:
  class: Neuron\Model\Page\Service
  arguments: [%Doctrine\ORM\EntityManager]

MenuService:
  class: Neuron\Model\Menu\Service
  arguments: [%Doctrine\ORM\EntityManager]

ClipService:
  class: Neuron\Model\Clip\Service
  arguments: [%Doctrine\ORM\EntityManager]

CommentService:
  class: Neuron\Model\Comment\Service
  arguments: [%Doctrine\ORM\EntityManager]

# webloader

AdminCss:
  class: Neuron\WebLoader\DefaultAdminCss

AdminJs:
  class: Neuron\WebLoader\DefaultAdminJs

FrontCss:
  class: Neuron\WebLoader\DefaultFrontCss

FrontJs:
  class: Neuron\WebLoader\DefaultFrontJs