TemplateHelperLoader:
  class: Neuron\TemplateHelperLoader

Texy:
  class: Neuron\Texy\Texy

# model

Nette\Security\IAuthorizator:
  factory: Neuron\ServiceFactories::createAuthorizator

Doctrine\ORM\EntityManager:
  factory: Neuron\ServiceFactories::createEntityManager
  arguments: [$$database]

Validator:
  factory: Neuron\ServiceFactories::createValidator

Nette\Security\IAuthenticator:
  class: Neuron\Model\DefaultAuthenticator
  arguments: [%UserService]

UserService:
  class: Neuron\Model\UserService
  arguments: [%Doctrine\ORM\EntityManager]

PhotogalleryService:
  class: Neuron\Model\PhotogalleryService
  arguments: [%Doctrine\ORM\EntityManager]

PageService:
  class: Neuron\Model\Service
  arguments: [%Doctrine\ORM\EntityManager, Neuron\Model\Page]

# webloader

AdminCss:
  class: Neuron\WebLoader\DefaultAdminCss

AdminJs:
  class: Neuron\WebLoader\DefaultAdminJs

FrontCss:
  class: Neuron\WebLoader\DefaultFrontCss

FrontJs:
  class: Neuron\WebLoader\DefaultFrontJs